.segmented-control {
  border-bottom: $base-border;
  font-size: $small-font-size;
  line-height: 2.25;

  .announcements & {
    padding: 0;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  a {
    border-bottom: 1px solid transparent;
    color: $medium-gray;
    padding: $tiny-spacing;
    text-align: center;
    transform: translateY(1px);
    width: 100%;

    &:hover,
    &:active {
      color: $dark-blue;
      text-decoration: none;
    }

    &.selected {
      border-color: $dark-blue;
    }
  }

  .selected {
    color: $dark-blue;
    z-index: $base-z-index + 1;
  }
}

.mine.selected {
   + .select-interests-link,
  .caret {
    border-bottom: $dark-blue 1px solid;
  }
}

.interests-message {
  @include padding($small-spacing null $small-spacing*1.35);
  border: 1px solid red;
  border: $base-border;
  display: none;
  text-align: center;
  transform: translateY(-1px);

  &.mine {
    display: block;
  }
}

.subscribed-to {
  color: $base-font-color;
}
